<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>randomgame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AE6520A1EFAEA9700BD6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE6521E1EFAEA9800BD6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE652291EFAEA9800BD6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
